In [1]:
import numpy as np
import pandas as pd

# Učitavanje podataka

In [2]:
# ucitavanje podataka
X = pd.read_csv("data.csv")

# Početni pregled podataka

In [3]:
X.shape

(7320, 8)

In [4]:
# prikaz skupa za treniranje
X.head()

,105730486382497793,322329899,y,self-disclosure,other,n,victim,none
0,107688644067856384,185389094,y,self-disclosure,other,n,defender,empathy
1,108654820042354688,361869056,n,NaN,NaN,NaN,NaN,NaN
2,102206417217392640,226320672,n,NaN,NaN,NaN,NaN,NaN
3,102779484725448704,297557032,n,NaN,NaN,NaN,NaN,NaN
4,108676972149874688,157724561,n,NaN,NaN,NaN,NaN,NaN

# Promjena imena značajki

In [5]:
X.rename(columns = {'105730486382497793':'Tweet ID', '322329899':'User ID',
                              'y':'Bullying traces', 'self-disclosure':'Type','other':'Form', 'n':'Teasing', 'victim':'Author role', 'none':'Emotion'}, inplace = True)

In [6]:
# prikaz skupa za treniranje
X.head()

,Tweet ID,User ID,Bullying traces,Type,Form,Teasing,Author role,Emotion
0,107688644067856384,185389094,y,self-disclosure,other,n,defender,empathy
1,108654820042354688,361869056,n,NaN,NaN,NaN,NaN,NaN
2,102206417217392640,226320672,n,NaN,NaN,NaN,NaN,NaN
3,102779484725448704,297557032,n,NaN,NaN,NaN,NaN,NaN
4,108676972149874688,157724561,n,NaN,NaN,NaN,NaN,NaN

# Opis podataka

Pojašnjenja značajki:
   * **Tweet ID** - ID preuzetog tweeta
   * **User ID** - ID osobe koja je napravila tweet
   * **Bullying_Traces** - prikazuje li tweet znakove bullyanja ili ne (y ili n)
   * **Type** - tip bullyanja (accusation, cyberbullying, denial, report, self-disclosure, NA)
   * **Form** - vrsta bullyanja (cyberbullying, physical, property damage, relational, verbal, other, NA)
   * **Teasing** - je li riječ o zadirkivanju ili ne (y ili n)
   * **Author_Role** - položaj autora u tweetu (accuser, assistant, bully, defender, reinforcer, reporter, victim, other, NA)
   * **Emotion** - emocija koju izražava tweet (anger, embarrassment, empathy, fear, none, other, pride, relief, sadness, NA)

In [7]:
display(X.isna().sum())

Tweet ID              0
User ID               0
Bullying traces       0
Type               5219
Form               5219
Teasing            5219
Author role        5219
Emotion            5219
dtype: int64

In [8]:
X.describe()

           Tweet ID       User ID
count  7.320000e+03  7.320000e+03
mean   1.033137e+17  1.709504e+08
std    3.121142e+15  1.062811e+08
min    9.970695e+16  7.794510e+05
25%    1.000126e+17  7.044485e+07
50%    1.029118e+17  1.644114e+08
75%    1.061250e+17  2.645820e+08
max    1.091281e+17  3.652028e+08

In [9]:
X.nunique()

Tweet ID           7297
User ID            7042
Bullying traces       2
Type                  5
Form                  6
Teasing               2
Author role           8
Emotion               9
dtype: int64

In [10]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7320 entries, 0 to 7319
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tweet ID         7320 non-null   int64
 1   User ID          7320 non-null   int64
 2   Bullying traces  7320 non-null   object
 3   Type             2101 non-null   object
 4   Form             2101 non-null   object
 5   Teasing          2101 non-null   object
 6   Author role      2101 non-null   object
 7   Emotion          2101 non-null   object
dtypes: int64(2), object(6)
memory usage: 457.6+ KB

In [11]:
X

,Tweet ID,User ID,Bullying traces,Type,Form,Teasing,Author role,Emotion
0,107688644067856384,185389094,y,self-disclosure,other,n,defender,empathy
1,108654820042354688,361869056,n,NaN,NaN,NaN,NaN,NaN
2,102206417217392640,226320672,n,NaN,NaN,NaN,NaN,NaN
3,102779484725448704,297557032,n,NaN,NaN,NaN,NaN,NaN
4,108676972149874688,157724561,n,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
7315,99912247060611074,162589166,y,self-disclosure,other,n,defender,empathy
7316,99878062220517376,221054960,y,accusation,other,n,accuser,none
7317,100049839949221889,110032215,n,NaN,NaN,NaN,NaN,NaN
7318,100006640492875776,171842492,y,denial,other,n,bully,none
7319,99712633174888448,225505498,y,report,other,n,reporter,none

In [15]:
import tweepy
import sys
import json
import codecs
from tweepy.parsers import JSONParser

####### Access Information #################

# Parameter you need to specify
consumer_key = 'iwYGHFnaOHjjGm5Kk8o8lIcqe'
consumer_secret = 'TpZ9YJWEks449SBFmRZtSpWgN45Pf10dNct0EdmBozlIM80KQm'
access_key = '1320319645677649921-a8uLlFLec7MAOw3ZPC8dwHPOVF2i14'
access_secret = 'nvLSupNg93qfKrGEq2Xf8ZDKYoUNDcmC2mJvHjsgJL3Ys'

inputFile = 'data.csv'
outputFile = 'tweet.json'

#############################################
auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_key, access_secret)
api = tweepy.API(auth, parser=JSONParser())

# tweets = []
# tweet = api.get_status(107688644067856384)
# print(tweet['text'])

# for index, row in X.iterrows():
#     try:
#         tweet = api.get_status(row['Tweet ID'])
#         tweets.append(tweet['text'])
#         print(tweet['text'])
#     except:
#         pass

# print(tweets)


rst = api.lookup_statuses(id=[100006640492875776,99712633174888448])
print(rst)

# l=[];
# with open(inputFile, 'r') as inFile:
# 	with codecs.open(outputFile, 'w', encoding='utf8') as outFile:
# 		for line in inFile.readlines():
# 			l.append(line.rstrip());
# 			if (len(l)>=99):
# 				rst = api.lookup_statuses(id=l);
# 				print(rst)
# 				for tweet in rst:
# 					outFile.write(json.dumps(tweet) + "\n");
# 				l=[];
# 		if (len(l) > 0):
# 			rst = api.lookup_statuses(id=s[0]);
# 			for tweet in rst:
# 				outFile.write(json.dumps(tweet) + "\n");

[{'created_at': 'Sun Aug 07 00:53:35 +0000 2011', 'id': 100006640492875776, 'id_str': '100006640492875776', 'text': "@NOLAZERSKILLZ @aTo_Cheerios don't call me a bully when you are sitting there, laughing your ass off because you think it's fucking funny =p", 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []}, 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', 'in_reply_to_status_id': None, 'in_reply_to_status_id_str': None, 'in_reply_to_user_id': None, 'in_reply_to_user_id_str': None, 'in_reply_to_screen_name': None, 'user': {'id': 171842492, 'id_str': '171842492', 'name': "Steve Buscemi's Third Eye", 'screen_name': 'TheRecoilEffect', 'location': 'San Lorenzo, CA', 'description': '6\'3" ::My thoughts, my own::Just the Tip::Expert Gardener::Ex-cam model::Art thou feeling it now?:', 'url': None, 'entities': {'description': {'urls': []}}, 'protected': False, 'followers_count': 561, 'friends_count': 271, 'listed_count': 6, 'created_at': 'Wed Jul 28 08:52:19 +0000 2010', 'favourites_count': 13848, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 62550, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'C0DEED', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/1365532629907333121/z9wRue2z_normal.jpg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/1365532629907333121/z9wRue2z_normal.jpg', 'profile_banner_url': 'https://pbs.twimg.com/profile_banners/171842492/1436642912', 'profile_link_color': '160673', 'profile_sidebar_border_color': 'FFFFFF', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': True, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'regular', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'lang': 'en'}, {'created_at': 'Sat Aug 06 05:25:18 +0000 2011', 'id': 99712633174888448, 'id_str': '99712633174888448', 'text': '@bubookinss LOL.i seen your fishbwoy bro and his friends at mcdonalds. didnt i tell you he gets bullied, i know why he tries to boup on you.', 'truncated': False, 'entities': {'hashtags': [], 'symbols': [], 'user_mentions': [], 'urls': []}, 'source': '<a href="http://twitter.com" rel="nofollow">Twitter Web Client</a>', 'in_reply_to_status_id': 99712356342435840, 'in_reply_to_status_id_str': '99712356342435840', 'in_reply_to_user_id': 261910186, 'in_reply_to_user_id_str': '261910186', 'in_reply_to_screen_name': 'malsssssss_', 'user': {'id': 225505498, 'id_str': '225505498', 'name': 'LoveSyndaTeam', 'screen_name': 'MinyFcknSynda', 'location': 'Toronto, CA-NA-DA', 'description': 'SyndaFam/Artist/Producer/Actor  R.I.P Jamahl  WizzleSynda Franklin.  Real Talk Real.', 'url': 'http://t.co/Q6HHpEMraP', 'entities': {'url': {'urls': [{'url': 'http://t.co/Q6HHpEMraP', 'expanded_url': 'http://www.reverbnation.com/syndafam', 'display_url': 'reverbnation.com/syndafam', 'indices': [0, 22]}]}, 'description': {'urls': []}}, 'protected': False, 'followers_count': 304, 'friends_count': 484, 'listed_count': 8, 'created_at': 'Sat Dec 11 18:49:49 +0000 2010', 'favourites_count': 142, 'utc_offset': None, 'time_zone': None, 'geo_enabled': False, 'verified': False, 'statuses_count': 16292, 'lang': None, 'contributors_enabled': False, 'is_translator': False, 'is_translation_enabled': False, 'profile_background_color': 'C0DEED', 'profile_background_image_url': 'http://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_image_url_https': 'https://abs.twimg.com/images/themes/theme1/bg.png', 'profile_background_tile': False, 'profile_image_url': 'http://pbs.twimg.com/profile_images/3596190072/9162fa2666e180e78685cb39025588e0_normal.jpeg', 'profile_image_url_https': 'https://pbs.twimg.com/profile_images/3596190072/9162fa2666e180e78685cb39025588e0_normal.jpeg', 'profile_link_color': '0084B4', 'profile_sidebar_border_color': 'C0DEED', 'profile_sidebar_fill_color': 'DDEEF6', 'profile_text_color': '333333', 'profile_use_background_image': True, 'has_extended_profile': False, 'default_profile': False, 'default_profile_image': False, 'following': False, 'follow_request_sent': False, 'notifications': False, 'translator_type': 'none', 'withheld_in_countries': []}, 'geo': None, 'coordinates': None, 'place': None, 'contributors': None, 'is_quote_status': False, 'retweet_count': 0, 'favorite_count': 0, 'favorited': False, 'retweeted': False, 'lang': 'en'}]