In [1]:
import numpy as np
import pandas as pd

# Učitavanje podataka

In [2]:
# ucitavanje podataka
X = pd.read_csv("data.csv")

# Početni pregled podataka

In [3]:
X.shape

(7320, 8)

In [4]:
# prikaz skupa za treniranje
X.head()

,105730486382497793,322329899,y,self-disclosure,other,n,victim,none
0,107688644067856384,185389094,y,self-disclosure,other,n,defender,empathy
1,108654820042354688,361869056,n,NaN,NaN,NaN,NaN,NaN
2,102206417217392640,226320672,n,NaN,NaN,NaN,NaN,NaN
3,102779484725448704,297557032,n,NaN,NaN,NaN,NaN,NaN
4,108676972149874688,157724561,n,NaN,NaN,NaN,NaN,NaN

# Promjena imena značajki

In [16]:
X.rename(columns = {'105730486382497793':'Tweet ID', '322329899':'User ID',
                              'y':'Bullying traces', 'self-disclosure':'Type','other':'Form', 'n':'Teasing', 'victim':'Author role', 'none':'Emotion'}, inplace = True)

In [17]:
# prikaz skupa za treniranje
X.head()

,Tweet ID,User ID,Bullying traces,Type,Form,Teasing,Author role,Emotion
0,107688644067856384,185389094,y,self-disclosure,other,n,defender,empathy
1,108654820042354688,361869056,n,NaN,NaN,NaN,NaN,NaN
2,102206417217392640,226320672,n,NaN,NaN,NaN,NaN,NaN
3,102779484725448704,297557032,n,NaN,NaN,NaN,NaN,NaN
4,108676972149874688,157724561,n,NaN,NaN,NaN,NaN,NaN

# Opis podataka

Pojašnjenja značajki:
   * **Tweet ID** - ID preuzetog tweeta
   * **User ID** - ID osobe koja je napravila tweet
   * **Bullying_Traces** - prikazuje li tweet znakove bullyanja ili ne (y ili n)
   * **Type** - tip bullyanja (accusation, cyberbullying, denial, report, self-disclosure, NA)
   * **Form** - vrsta bullyanja (cyberbullying, physical, property damage, relational, verbal, other, NA)
   * **Teasing** - je li riječ o zadirkivanju ili ne (y ili n)
   * **Author_Role** - položaj autora u tweetu (accuser, assistant, bully, defender, reinforcer, reporter, victim, other, NA)
   * **Emotion** - emocija koju izražava tweet (anger, embarrassment, empathy, fear, none, other, pride, relief, sadness, NA)

In [7]:
display(X.isna().sum())

105730486382497793       0
322329899                0
y                        0
self-disclosure       5219
other                 5219
n                     5219
victim                5219
none                  5219
dtype: int64

In [18]:
X.describe()

           Tweet ID       User ID
count  7.320000e+03  7.320000e+03
mean   1.033137e+17  1.709504e+08
std    3.121142e+15  1.062811e+08
min    9.970695e+16  7.794510e+05
25%    1.000126e+17  7.044485e+07
50%    1.029118e+17  1.644114e+08
75%    1.061250e+17  2.645820e+08
max    1.091281e+17  3.652028e+08

In [19]:
X.nunique()

Tweet ID           7297
User ID            7042
Bullying traces       2
Type                  5
Form                  6
Teasing               2
Author role           8
Emotion               9
dtype: int64

In [20]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7320 entries, 0 to 7319
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Tweet ID         7320 non-null   int64
 1   User ID          7320 non-null   int64
 2   Bullying traces  7320 non-null   object
 3   Type             2101 non-null   object
 4   Form             2101 non-null   object
 5   Teasing          2101 non-null   object
 6   Author role      2101 non-null   object
 7   Emotion          2101 non-null   object
dtypes: int64(2), object(6)
memory usage: 457.6+ KB